.cont2{
    height: 100%;
    width: 100%;
}
body {
    background-color: rgba(233, 255, 254, 0.714);
} 

tbody{
    background-color: rgba(209, 254, 255, 0.829);
}
.trash {
    color: red;
}
.edit {
    color: green;
    text-align: center;
}

.rrss{
    color: #b9c6c5;
    margin: 5px;
    font-size: 30px;
}
.rrss:hover{
    text-shadow: 1px 1px 3px aqua;
}